{% extends "base_generic.html" %}

{% block content %}
  <h1>Tus Reservas activas</h1>
  <ul>
    {% for reservation in reservations %}
      <li>{{ reservation.common_space.name }}: {{ reservation.start_time }} - {{ reservation.end_time }}</li>
      {% if reservation.user == request.user %}
            <form action="{% url 'cancel_reservation' reservation.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Borrar</button>
            </form>
        {% endif %}
    {% endfor %}
  </ul>
  <a class="btn btn-primary btn-lg" href="{% url 'reservation_create' %}" role="button">Reserva aquí</a>

{% endblock %}
