{% extends "base_generic.html" %}
{% load static %}

{% block content %}
  <h1>New Reservation</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_common_space">Common Space:</label>
      {{ form.common_space }}
    </div>
    <div class="form-group">
      <label for="id_start_time">Start Time:</label>
      {{ form.start_time }}
    </div>
    <div class="form-group">
      <label for="id_end_time">End Time:</label>
      {{ form.end_time }}
    </div>
    <div class="form-group">
      <label for="id_purpose">Purpose:</label>
      {{ form.purpose }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
