{% extends "base_generic.html" %}
{% load static %}

{% block content %}

{% for espacio in espacios %}
  <h4 class="alert alert-info">{{espacio.category}}</h4>
  <p>{{espacio.description}}</p>
{% endfor %}




  
  <h1 class="alert alert-primary">Nueva Reserva</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_common_space">Espacio</label>
        {{ form.common_space }}
      </div>
      <div class="form-group">
        <label for="id_start_time">Fecha:</label>
        {{ form.start_time }}
      </div>
      <div class="form-group">
        <label for="id_end_time">Fecha termino:</label>
        {{ form.end_time }}
      </div>
      <div class="form-group">
        <label for="id_purpose">Proposito:</label>
        {{ form.purpose }}
      </div>
      <div class="form-group">
        <label for="id_qty">Cantidad:</label>
        {{ form.qty }}
      </div>
      <button type="submit" class="btn btn-primary">Reservar</button>
    </form>
    
    <script type="module" src="{% static 'script.js' %}"></script>
    {% endblock %}
